 <header>
    <div class="container row">
        <a href="/" style="font-weight:600; color:var(--fg); text-decoration:none;">Victor Lelikov</a>
        <nav>
            <img src="/assets/img/github-no-background.png">
            <a href="/projects/">Projects</a>
            <a href="/projects/">IT</a>
            <a href="/projects/">Coursework</a>
            <strong> | </strong>
            <a href="/about-site/">About This Site</a>
            <a href="/contact/">Contact</a>
            <a href="" id="themeToggle">Turn on the lights</a>
        </nav>
    </div>
</header>